@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.nav {
	@include displayFlexRow;
	justify-content: space-between;
	background: linear-gradient(to bottom right, rgba($white, 0.55), rgba($white, 0.75), rgba($white, 0.85), rgba($white, 1));
	padding: 1rem 2rem;
	&__logo {
		@include displayFlexRow;
	}
	&__navlist {
		@include displayFlexRow;
		justify-content: flex-end;
	}
	&__navitem {
		@include displayFlexRow;
	}
	&__username {
		margin-left: 0.5rem;
	}
}
