<nav class="nav">
	<div class="nav__logo logo">
		<span class="logo__logoIcon">⛪</span>
		<span class="logo__logoText">KerkNet</span>
	</div>
	<ul class="nav__navlist">
		<li class="nav__navitem nav__navitem--logout">
			<% if (user) { %>
			<span class="nav__greet">Welkom terug, <span class="nav__username"><%= user.username %></span></span>
			<a class="btn btn--logout-button" href="/">Teken Uit</a>
			<% } %>
		</li>
	</ul>
</nav>
