<nav class="header__nav nav">
	<figure class="nav__logoContainer">
		<img
			class="nav__logo logo logo--nav"
			src="#"
			alt="logo" />
	</figure>
	<div class="nav__hamburger">
		<div class="hamburgerBar"></div>
		<div class="hamburgerBar"></div>
		<div class="hamburgerBar"></div>
	</div>
	<ul class="nav__list">
		<li class="nav__item">
			<a
				class="nav__link navlinkText navlinkText--navbar"
				href="#home"
				>Tuis</a
			>
		</li>
		<li class="nav__item">
			<a
				class="nav__link navlinkText navlinkText--navbar"
				href="#kontak"
				>Kontak</a
			>
		</li>
		<li class="nav__item">
			<a
				class="nav__link navlinkText navlinkText--navbar"
				href="#bronne"
				>Bronne</a
			>
		</li>
	</ul>
</nav>
