@use "../abstracts/variables" as *;

// headingH1
.headingH1 {
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
}

// headingH2, headingH3, headingH4
// <weight>: Use a value from 100 to 900
.headingH2,
.headingH3,
.headingH4 {
	color: $white;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-size: clamp(1.6rem, 5vw, 1.8rem);
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1px;
	&--formLabel {
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		font-weight: 500;
		line-height: 1.2;
		text-align: left;
	}
}

// paragraph
// <weight>: Use a value from 100, 300, 400, 700 and 900
.paragraph {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

//
.login-page {
	&__login-title {
		color: $dark-blue;
		font-size: clamp(2rem, 7vw, 2.2rem);
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
	}
}
// login-form
.login-form {
	&__form-group-label {
		color: $dark-blue;
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		font-weight: 400;
		line-height: 1.2;
		text-align: left;
		text-transform: capitalize;
		padding-left: 1rem;
	}
	&__form-input::placeholder,
	&__form-input[type="text"]::placeholder {
		color: rgba($white, 0.75);
		font-size: clamp(1.2rem, 4vw, 1.4rem);
		font-style: italic;
		line-height: 1.2;
	}
}
// buttons
.btn {
	&--skepLiturgieBtn {
		color: $white;
		font-size: clamp(1.8rem, 5.5vw, 2rem);
		font-style: italic;
		font-weight: 700;
	}
	&--login-button {
		color: $white;
		font-size: clamp(1.8rem, 5.5vw, 2rem);
		font-style: italic;
		font-weight: 700;
	}
}
